@media (min-width: 320px){
	/*small portrait screens*/

   h3{
    font-size: 2.5em;
  }

  .admin-bar .navbar-fixed-top {
      position: absolute;
      top: 42px;
    }

  #instructor .num{
    height: 100px;
    width: 100px;
    font-size: 22px;
  }

  #instructor .num span{
    font-size: 16px;
  }

  .resource{
    width: 100%;
    margin-right: 0%;
    min-height:0; 
  }

/*HERO*/

#hero{
  min-height: 300px;
  padding: 40px 0px 10px;
}


.hero-image-default {
  min-height: 300px;
  padding: 40px 0;
}

/*Content-Optin*/
#optin {
  padding: 20px 0;
  font-size: 1.2em;
}

#optin p {
  margin: 7px 0 0 0;
}

/*Sub Section*/
#subSection p{
  padding: 30px;
  font-size: 3em;
}

/*Content-Promo*/
#content-promo h3{
  font-size: 3em;
}

#content-promo p{
  font-size: 2em;
}


/*Content-Book*/
#content-book p{
  font-size: 1.5em;
}

/*Content-Blog*/
#content-blog p{
  font-size: 1.5em;
}


/*Content-Latest*/
#content-latest h1{
  padding: 20px;
}

#content-latest p{
  font-size: 2em;
}

#content-latest h3{
  font-size: 2.5em;
}

/*Content-About*/

#content-about p{
  font-size: 2em;
  padding-top: 20px;
}

#content-about h3{
  font-size: 3em;
}


/*Sign-Up*/
#signup h2{
  font-weight: normal;
  color:red;
}

#signup .btn{
  font-size: 24px;
}

}   /*END MIN WIDTH 320*/


@media (min-width: 480px){
	/*large portrait screens*/

  h3{
    font-size: 3em;
  }

    .admin-bar .navbar-fixed-top {
        top: 46px;
    }

  .logo{
    width: 50%;
  }

  #optin p{
    margin: 0 0 10px;
  }

  #featurette iframe{
    height: 240px;
  }

  .resource{
    width: 48%;
    margin-right: 2%;
    min-height: 800px;
  }

  .box {
    height: auto !important;
  } 


  /*footer*/
  
  footer ul{
  display: inline-block;
  float: left;
  }


  footer p{
  display: inline-block;
  float: right;
}


}  /*END MIN WIDTH 480*/
 