@media (min-width: 768px){
  /*tablet portrait*/

#content-latest h3{
  font-size: 3em;
}



}  /*END 768*/


/*Fix the top margin when logged in*/
/*@media screen and (max-width: 782px){
  .logged-in .navbar-fixed-top{
    top: 46px;
  }

}


@media screen and (max-width: 991px){
  This will allow you to read the instructor text once you
  get less than 991
  #instructor .container{
    background: rgba(255,255,255,0.8);
    padding: 20px;
  }
}
*/


@media (min-width: 1024px){



}